.row
  .col-lg-6.col-lg-offset-3
    .well
      %h3 Deactivate
      %hr/
      %h5 Unhappy with Socify? Hit the Button below to cancel account.
      %br/
      = button_to 'Cancel my account', registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'
